@using Microsoft.AspNetCore.Components.Authorization

<div class="sidebar">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized Context="mainAuth">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

                <AuthorizeView Roles="Admin">
                    <Authorized Context="adminAuth">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/exams">
                                <span class="oi oi-list" aria-hidden="true"></span> Manage Exams
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin/users">
                                <span class="oi oi-people" aria-hidden="true"></span> Manage Users
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Student">
                    <Authorized Context="studentAuth">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="exams">
                                <span class="oi oi-book" aria-hidden="true"></span> Available Exams
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="my-results">
                                <span class="oi oi-graph" aria-hidden="true"></span> My Results
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

<style>
    .sidebar {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }
</style>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

